body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

a {
  text-decoration: none;
}

.main-header {
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  z-index: 5;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  max-width: 1080px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-item {
  padding: 8px 20px;
  color: #868686;
}

.menu-item:hover {
  background-color: #FFBB42;
  border-radius: 3px;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.logo {
  padding-top: 22px;
  padding-bottom: 22px;
}

.container {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, #709DCA), color-stop(0, #ffffff));
  background: linear-gradient(#709DCA 90%, #ffffff 0);
  width: 100%;
}

.container-mainpage {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 90px;
}

.title {
  margin: 82px 0 0 0;
  color: #ffffff;
}

.subtitle {
  color: #ffffff;
  font-size: 24px;
}

.sutitle-txt {
  margin: 16px 0 0 0;
}

.input-flex {
  width: 100%;
}

.input-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 27px;
  max-width: 1080px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.input-name,
.input-email-user,
.input-fone-number {
  position: relative;
}

.input-fullname {
  outline: none;
  border: none;
  border-radius: 3px;
  width: 241px;
  height: 46px;
  font-size: 14px;
  padding: 0;
  position: relative;
  padding-left: 40px;
}

.input-email {
  outline: none;
  border: none;
  border-radius: 3px;
  width: 241px;
  height: 46px;
  font-size: 14px;
  padding: 0;
  position: relative;
  padding-left: 40px;
}

.input-tel {
  outline: none;
  border: none;
  border-radius: 3px;
  width: 241px;
  height: 46px;
  font-size: 14px;
  padding: 0;
  position: relative;
  padding-left: 40px;
}

.input-button {
  outline: none;
  border: none;
  border-radius: 3px;
  width: 211px;
  height: 46px;
  background-color: #FFBB42;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

.placeholder_txt {
  padding-left: 20px;
}

.input-icon-user {
  position: absolute;
  size: 16px;
  left: 12px;
  bottom: 17px;
}

.email {
  position: absolute;
  size: 16px;
  left: 13px;
  bottom: 18px;
}

.phone {
  position: absolute;
  size: 16px;
  left: 14px;
  bottom: 18px;
}

.slider {
  margin-top: 48px;
}

.laptop {
  max-width: 647px;
}

.slider-nav {
  border: #DEDFE0 2px solid;
  background: none;
  border-radius: 50px;
  cursor: pointer;
  size: 14px;
  height: 14px;
  width: 14px;
  margin-left: 9px;
}

.slider-nav:hover {
  border: #1CA8DD 2px solid;
}

.slider {
  width: 100%;
  max-width: 640px;
  height: auto;
}

.container-2page {
  background-color: #ffffff;
  max-width: 1173px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  margin-top: 75px;
}

.title-page2,
.subtitle-page2 {
  text-align: center;
  color: #394B50;
}

.title-page2 {
  font-size: 36px;
  margin-bottom: 16px;
}

.subtitle-page2 {
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 64px;
}

.block-benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-benefits .benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  min-width: 250px;
  margin: 10px;
}

.block-benefits .benefit--img-wrap {
  padding-right: 30px;
}

.block-benefits .benefit--content-wrap {
  width: 90%;
  margin-bottom: 76px;
}

.block-benefits .benefit--title {
  margin-top: 0;
  margin-bottom: 14px;
  color: #394B50;
  font-size: 16px;
}

.txt-benefit {
  font-size: 13px;
  color: #7B7B7B;
}

.miblue {
  color: #709DCA;
}

.miorange {
  color: #F6772C;
  font-size: 45px;
}

.container-page3 {
  width: 100%;
  background-color: #FFBB42;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-page3 .page3--content {
  width: 50%;
}

.container-page3 .page3--img {
  width: 100%;
  max-width: 850px;
}

.container-page3 .page3--right {
  margin-top: 155px;
  color: #ffffff;
  max-width: 475px;
  margin-left: 90px;
}

.container-page3 .page3--txt {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 51px;
}

.container-page3 .page3--title {
  font-size: 30px;
  margin-bottom: 18px;
}

.container-page3 .page3--button-input {
  border: 1px solid #E7AD48;
  max-width: 144px;
  height: 45px;
  border-radius: 1px;
  background-color: #FFBB42;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

.page4 {
  width: 100%;
  background-color: #E7EDF3;
}

.page4--container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  margin: 0 auto;
  padding: 0 15px;
}

.page4--title {
  margin: 0;
  font-size: 30px;
  color: #394b50;
  margin-bottom: 16px;
}

.page4--subtitle {
  font-size: 24px;
  color: #75888D;
  margin-top: 0;
  margin-bottom: 84px;
}

.page4 .titles {
  padding-top: 98px;
  text-align: center;
}

.page4 .container-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 194px;
}

.page4 .basic-plan {
  width: 390px;
  background-color: #ffffff;
  text-align: center;
  color: #868686;
  padding: 0 35px;
  border: 1px solid #E7EDF3;
  border-radius: 2px;
}

.page4 .basic-plan:hover {
  background-color: #709DCA;
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  color: #ffffff;
}

.page4 .basic-plan:hover .basic-txt-hover {
  color: #ffffff;
}

.page4 .plan-title {
  display: block;
  padding-top: 50px;
}

.page4 .dollar {
  font-size: 24px;
}

.page4 .price {
  color: #FFBB42;
  font-size: 60px;
  margin: 0 auto;
}

.page4 .price-nav {
  margin-top: 55px;
  margin-bottom: 42px;
}

.page4 .price-item {
  padding: 12px;
  border-top: 1px solid #E2E9F0;
  border-bottom: 1px solid #E2E9F0;
  cursor: pointer;
}

.page4 .price-item:last-child {
  border-bottom: none;
}

.page4 .button-price {
  display: inline-block;
  padding: 12px 20px;
  background-color: #FFBB42;
  border-radius: 2px;
  margin-bottom: 61px;
}

.page4 .button {
  color: #ffffff;
  font-size: 14px;
}

.page5 {
  width: 100%;
  background-color: #ffffff;
}

.container-page5 {
  max-width: 1128px;
  widows: 100%;
  margin: 0 auto;
  padding: 0 15 px;
  margin-bottom: 149px;
}

.titles-page5 {
  margin-top: 117px;
  margin-bottom: 83px;
  text-align: center;
  color: #394B50;
}

.subtitle-page5 {
  color: #868686;
}

.title-page5 {
  font-size: 30px;
  margin-bottom: 14px;
}

.subtitle-page5 {
  font-size: 24px;
  margin-top: 0;
}

.step-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 116px;
}

.step-icon {
  max-width: 100px;
  width: 100%;
  height: 110px;
  margin: 0 auto;
  margin-bottom: 76px;
}

.step-item {
  max-width: 229px;
  min-width: 124px;
  width: 16%;
  text-align: center;
}

.title-step {
  color: #394B50;
}

.txt-step {
  font-size: 13px;
}

.arrow {
  max-width: 111px;
}

.button-step {
  outline: none;
  border: none;
  border-radius: 3px;
  width: 211px;
  height: 46px;
  background-color: #FFBB42;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  margin: 0 auto;
}

.button-steps {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page6 {
  background-color: #FFBB42;
  max-width: 100%;
  padding-bottom: 160px;
}

.container-page6 {
  max-width: 1214px;
  margin: 0 auto 0;
  padding: 0 15px;
}

.titles-page6 {
  padding-top: 66px;
  color: #ffffff;
  text-align: center;
}

.page6--title {
  margin-bottom: 0;
  font-size: 30px;
  margin: 0 auto;
}

.page6-subtitle {
  margin-top: 16px;
  margin-bottom: 92px;
  font-size: 30px;
}

.clients-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1170px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.client {
  max-width: 567px;
  min-width: 550px;
  width: 50%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.txt {
  padding-right: 9px;
  padding-top: 50px;
  max-width: 366px;
}

.text-client {
  font-size: 13px;
  line-height: 16px;
  color: #7B7B7B;
  padding-bottom: 32px;
  display: block;
  padding-bottom: 32px;
}

.photo-client {
  max-width: 156px;
  border-radius: 50%;
  margin: 33px 0 52px 20px;
}

.name-client {
  font-size: 14px;
}

.name-orange {
  color: #fab802;
}

.container-page7 {
  max-width: 1102px;
  padding: 0 15px;
  margin: 0 auto;
}

.titles {
  margin-top: 80px;
  text-align: center;
}

.input-flex-7 {
  width: 100%;
  max-width: 930px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.input-content-7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.map-image {
  margin-top: 73px;
}

.map-size {
  max-width: 1100px;
  position: relative;
}

.subsribe {
  width: 307px;
  border: 1px solid #CBCBCB;
  border-radius: 3px;
}

.email-subsribe {
  width: 387px;
  border: 1px solid #CBCBCB;
  border-radius: 3px;
}

.subsribe-now {
  width: 218px;
  height: 48px;
}

.name-grey {
  color: #7B7B7B;
}

.menu-footer {
  max-width: 795px;
  width: 100%;
  margin: 0 auto;
}

.nav-footer {
  border-top: 1px solid #E3E7EC;
  padding-top: 65px;
}

.footer-item {
  padding: 0;
}

.footer-item:hover {
  background-color: transparent;
}

.phone-footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  color: #394B50;
  padding-bottom: 16px;
  width: 100%;
}

.phone-number {
  color: #394B50;
  font-size: 22px;
  margin-left: 4px;
}

@media (max-width: 950px) {
  .block-benefits .benefit {
    width: 100%;
  }
  .page3--right {
    margin-bottom: 70px;
  }
}

@media (max-width: 1100px) {
  .clients-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */